.home-content{
    border-top: 3px solid white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    &:before{
        @extend %color-line;
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        right: 0;
        height: 3px;
        opacity: .5;
    }
    
}