.site-breadcrumbs{
    background: $theme-color-11;
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    box-shadow: 0px 1px 0px rgba(0,0,0,.1);
    padding: 0px 15px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    
    a{
        margin-left: 5px;
        color: darken($theme-color-11,90);
        
        &:before{
            font-weight: bold;
            content: '·';
            margin-right: 5px;
        }
        
        &:first-child:before{
            content: '';
        }
    }
}