$base-font: 'Open Sans' sans-serif;
$base-line-height: 1.5;

$base-font-size: 12px;
$base-font-size-480: 13px;
$base-font-size-640: 14px;
$base-font-size-768: 14px;
$base-font-size-960: 14px;


$theme-color-1: #e58f6a;
$theme-color-2: #d16a59;
$theme-color-3: #e96245;
$theme-color-4: #c8535d;
$theme-color-5: #b3494a;
$theme-color-6: #9f697e;
$theme-color-7: #8e7aa2;
$theme-color-8: #7489b5;
$theme-color-9: #5b7d99;
$theme-color-10: #60a2c4;
$theme-color-11: #b8e38d;